local.properties
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
hs_err_pid*.log
replay_pid*.log
/*.json
/*.txt
/*.docx
/shouye0.png
/shouye1.png
/saicheng0.png
/saicheng1.png
/duiwu0.png
/duiwu1.png
/wode0.png
/wode1.png
/FA9E2981C5084E0E57DFBAD4FED949A5.png
/*二次元*.png
